.container {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.flexi {
    justify-content: right;
    display: flex;
}

.flexi img {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide2 {
    background-image: url('../images/boy.svg');
}

.slide3 {
    background-image: url('../images/tech.svg');
}














.hide-scrollbar::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
    height: 100vh;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    height: 100vh;
}