.container {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.slide {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slide1 {
    justify-content: right;
    display: flex;
}

.slide1 img {
    width: 100%;
    height: 100%;
}
.slide2 {
    background-image: url('../images/boy.svg');
    justify-content: right;
    display: flex;
}

.slide3 {
    background-image: url('../images/tech.svg');
}

/* text on bard */
.text-on-slide2 {
    position: relative;
    top: 15%;
    right: 25%;
}
.text-on-slide3 {
    position: relative;
    top: 15%;
    left: 25%;
}












.hide-scrollbar::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
    height: 100vh;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    height: 100vh;
}