.container {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.slide {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slide1 {
    justify-content: right;
    display: flex;
}

.slide1 img {
    width: 100%;
    height: 100%;
}
.slide2 {
    background-image: url('../images/boy.svg');
    justify-content: right;
    display: flex;
}

.slide3 {
    
    background-image: url('../images/tech.svg');
    position: relative;
}

.texto-pizarra {
    width: 300px;
    position: absolute;
    top: 8%;
    left: 15%;
}
/* @media only screen and (max-width: 990px) {
    .texto-pizarra {
        margin-top: 8%;
        margin-left: 23%;
        width: 35%;
    }
}
@media only screen and (max-width: 890px) {
    .texto-pizarra {
        margin-top: 10%;
        margin-left: 20%;
        width: 40%;
    }
}
@media only screen and (max-width: 790px) {
    .texto-pizarra {
        margin-top: 10%;
        margin-left: 15%;
        width: 340px;
        /* width: 45%; 
    }
}
@media only screen and (max-width: 670px) {
    .texto-pizarra {
        margin-top: 10%;
        margin-left: 15%;
        width: 300px;
        /* width: 45%; 
    }
}
@media only screen and (max-width: 480px) {
    .texto-pizarra {
        margin-top: 12%;
        margin-left: 15%;
        width: 70%;
    }
}

@media only screen and (max-width: 320px) {
    .texto-pizarra {
        margin-top: 15%;
        margin-left: 10%;
        width: 80%;
    }
}
 */









.hide-scrollbar::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
    height: 100vh;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
    height: 100vh;
}

