.myApp-header {
  background-color: #333;
  color: white;
  align-items: center;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.board-class {
  background-image: url('images/bgboard.png');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fadeInOut 3s;
  color: white;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}
